@font-face

{
	font-family: 'lemon_milk';
	src:url(../fonts/LemonMilkbold.otf);
}

@font-face

{
	font-family: 'peace_sans';
	src:url(../fonts/PeaceSans.otf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	color: #333;
	font: 17px 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	overflow-x: hidden;
}

h2.section-title{
	font-size:60px;
	font-family: 'peace_sans';
	color:#494949;
	font-weight: 900;
}
@media screen and (max-width: 650px){
	h2{
		font-size:40px;
	}
}
.container {

}

.navbar {
	height:90px;
	padding-top:30px;
	background-color: transparent;
	color: #fff;
	border: none;
}

.navbar-header {
	padding:0;
	margin:0;
}

.navbar a{
	font-family: 'Lato';
	color: #fff!important;
	font-weight: 800;
	text-decoration: none;
}
.navbar a{
	font-size:13px;
}
.navbar li:hover{
	background-color:transparent;
}
.navbar-nav__link a{
	padding: 0;
	margin: 0;
}
.navbar .navbar-brand{
	font-size: 36px;

}
.header {
	min-height: 100vh;
	background: url('../img/header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
	position:relative;
	padding-top:90px;

}
.header .container-fluid,.header .row{
	width:100%;
	z-index:1;
}

.header-img{
	position: absolute;
	right: -5%;
	margin-top:-5%;
	width:55%;
	transform: translate(0, -60%);

}

.header .slogan-shadow{
	position:relative;
	padding-top: calc(10vh - 1px);
	padding-right:396px;
}

.header .slogan-wrapper{
	position:absolute;
	padding-top: calc(10vh + 90px);
	padding-right:400px;
	background: url(../img/header-grey.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width:100%;
	min-height:100%;
	top:0;
	left:0;

}
a.btn{
	font-family: 'Lato', 'sans-serif';
	font-weight: 800;
	text-transform: uppercase;
	font-size:18px;
	color: #242424;
	border-radius:50px;
	padding:13px 40px;
	letter-spacing: 1px;
	box-shadow: -3.508px 11.476px 40px 0 rgba(0,1,1,.2);
}
.header a{
	margin: auto;
	cursor:pointer;
	z-index:222;
	margin-right:400px;

}
.header div {
	position: relative;
}
.header h1.main-slogan {
	font-family: 'lemon_milk';
	font-size: 130px;
	line-height:0.84;
	text-transform: uppercase;
}
.header h1.shadow {
	font-size: 131px;
}

.header span.main-slogan {
	font-family: 'lemon_milk';
	font-size: 80px;
	line-height:0.7;
	font-weight: bold;
	text-transform: uppercase;
}
.header span.shadow {
	font-size: 81px;
}
h1.shadow, span.shadow {
	color:transparent;
	text-shadow: 0 0 15px rgba(0,0,0,.9);
}


@media screen and (max-width: 1200px) {
	.header h1.main-slogan{
		font-size: 122px;
	}
	.header span.main-slogan{
		font-size: 75px;
	}
	.header h1.shadow{
		font-size: 123px;
	}
	.header span.shadow{
		font-size: 76px;
	}
}
@media screen and (max-width: 1000px) {
	.header .slogan-shadow{
		position:relative;
		padding-top:9px;
		padding-right:0;
	}

	.header .slogan-wrapper{
		position:absolute;
		padding-top: 100px;
		padding-right:3px;
		top:0;
		left:0;
	}
	.header-img{
		position: relative;
		margin:auto;
		width:500px;
		transform: translate(0, 0);
	}
	.container-fluid{
		margin-top: -95px;
	}
	.header a{
		margin: auto;
	}


}
@media screen and (max-width: 650px) {
	.header .slogan-shadow{
		padding-top:0px;
	}
	.header .slogan-wrapper{
		padding-right:3px;
		padding-top:91px;
	}
	.header h1.main-slogan{
		font-size: 90px;
	}
	.header span.main-slogan{
		font-size: 54px;
	}
	.header h1.shadow{
		font-size: 91px;
	}
	.header span.shadow{
		font-size: 55px;
	}
	.header-img{
		position: relative;
		margin:auto;
		width:85%;
		transform: translate(0, 0);
	}
	.container-fluid{
		margin-top: -14%;
	}
}
@media screen and (max-width: 470px) {
	.header .slogan-wrapper{
		padding-right:2px;
	}
	.header h1.main-slogan{
		font-size: 60px;
	}
	.header span.main-slogan{
		font-size: 37px;
	}
	.header h1.shadow{
		font-size: 61px;
	}
	.header span.shadow{
		font-size: 38px;
	}

}


.section {
}

#about-us .container{
	margin: 90px auto;
}
#about-us .container .row{
	display: flex;
	flex-wrap: wrap;
}
#about-us .container p{
	margin: 80px 0;
}
#about-us .container img{
	width:100%;
}
#about-us a.btn{
	background: #bc2e3a;
	color: #fff;
}
@media screen and (max-width: 1000px){
	#about-us .container-img{
		order: 1;
	}
	#about-us .container-text{
		order: 2;
		display:flex;
		justify-content: center;
	}
	#about-us .container p{
		margin: auto;
	}

}

.footer {
	padding: 30px;
}
